body {
  background: #FFFFFF;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}
core-drawer-panel:not([narrow]) #btn-menu {
  // display: none;
}
/* background for toolbar when it is at its full size */
core-scroll-header-panel::shadow #headerBg {
  background-image: url(https://www.polymer-project.org/components/core-scroll-header-panel/demos/images/bg9.jpg);
}
/* background for toolbar when it is condensed */
core-scroll-header-panel::shadow #condensedHeaderBg {
  background-color: #f4b400;
}
core-toolbar {
  color: #F1F1F1;
  background-color: transparent;
}
.title {
  -webkit-transform-origin: 0;
  transform-origin: 0;
  font-size: 40px;
}
[content] {
  position: relative;
  height: 100%;
}
