body {
  background: #FFFFFF;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}
.row {
  padding: 18px 16px;
  border-bottom: 1px solid #E6E6E6;
}
.row core-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: lightgray;
}
.row div {
  margin-left: 28px;
}
