body {
  background: #EEEEEE;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(#000000, 0.87);
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
  tap-highlight-color: rgba(255, 255, 255, 0);
}
html /deep/ a {
  text-decoration: none;
}
// Temp fix for https://github.com/Polymer/paper-button/issues/30
html /deep/ paper-icon-button /deep/ core-icon {
  display: block;
}
