// Material design colors
// http://www.google.com/design/spec/style/color.html#color-ui-color-application

$primary-color: #3F51B5;
$primary-color-lighter: #C5CAE9;
$primary-color-darker: #303F9F;

$accent-color: #FF4081;
$accent-color-lighter: #FF80AB;
$accent-color-darker: #F50057;
