@import '../styles/base';

core-menu a {
  color: $dark-text;
}
.content {
  background-color: #FFFFFF;
}
core-toolbar {
  color: $light-text;
  background-color: $primary-color;
}
paper-menu-button paper-item {
  color: $dark-text;
}
[drawer] {
  background-color: white;
}
#list a {
  color: #666666;
  text-decoration: none;
}
.row {
  padding: 18px 16px;
  border-bottom: 1px solid #E6E6E6;
  cursor: pointer;
}
.row core-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: lightgray;
}
.row div {
  margin-left: 28px;
}
paper-fab {
  position: fixed;
  bottom: 16px;
  right: 16px;
}
@media screen and (min-width: 640px) {
  :host {
    background-color: transparent;
  }
  .content {
    margin: 64px 256px;
  }
  // paper-fab {
  //   top: 264px;
  //   right: 64px;
  // }
}
