@import '../styles/base';
@import '../styles/colors';
@import '../styles/buttons';

core-drawer-panel:not([narrow]) #btn-menu {
  // display: none;
}
/* background for toolbar when it is at its full size */
core-scroll-header-panel::shadow #headerBg {
  background-image: url(https://www.polymer-project.org/components/core-scroll-header-panel/demos/images/bg9.jpg);
}
/* background for toolbar when it is condensed */
core-scroll-header-panel::shadow #condensedHeaderBg {
  background-color: $primary-color;
}
core-toolbar {
  color: #F1F1F1;
  background-color: transparent;
}
#title {
  -webkit-transform-origin: 0;
  transform-origin: 0;
  font-size: 40px;
}
[content] {
  position: relative;
  height: 100%;
}
#list a {
  color: #666666;
}
.row {
  padding: 18px 16px;
  border-bottom: 1px solid #E6E6E6;
  cursor: pointer;
}
.row core-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: lightgray;
}
.row div {
  margin-left: 28px;
}
