@import '../styles/base';
@import '../styles/buttons';

core-drawer-panel:not([narrow]) #btnMenu {
  display: none;
}
// core-header-panel[mode="cover"]::shadow #mainContainer {
//   left: 180px;
// }
.content {
  // margin: 60px 180px 60px 0;
  background-color: #FFFFFF;
}
core-toolbar {
  color: $light-text;
  background-color: $primary-color;
}
[drawer] {
  background-color: white;
}
#list a {
  color: #666666;
}
.row {
  padding: 18px 16px;
  border-bottom: 1px solid #E6E6E6;
  cursor: pointer;
}
.row core-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: lightgray;
}
.row div {
  margin-left: 28px;
}
